@model IEnumerable<BookRater.Models.BookReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStartedRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompletedRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateRated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStartedRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompletedRead)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, BookOperations.Update)).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <text> |</text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, BookOperations.Update)).Succeeded)
                {
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
